[tools]
{% if preset == 'python' or ('backend' in capabilities and preset in ['generic', 'rust']) %}
python = "3.13.7"
uv = "0.8.15"
{% elif preset == 'node' %}
node = "{% if 'frontend' in capabilities %}22.23.1{% else %}22.19.0{% endif %}"
{% endif %}
{% if preset == 'rust' %}
rust = "1.89.0"
{% endif %}
